mixin formChangeMulti(path, isDelete, typePage, record)
    form(
        action=path
        method= "POST"
        form-change-multi
    )
        .d-flex.align-items-start 
            .form-group 
                select(name="type" class="form-control")
                    option(disabled selected) -- Chọn một hành động --
                    if((role.permission.includes("products_edit") && typePage=="product")||(role.permission.includes("products-category_edit") && typePage=="product_Category") || (1)) 
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                        option(value="changePosition") Thay đổi vị trí
                        if(isDelete)
                            option(value="restore") Khôi phục #{record}
                        else
                            if((role.permission.includes("products_delete") && typePage=="product")||(role.permission.includes("products-category_delete") && typePage=="product_Category") || (1))
                                option(value="deleteMany") Xóa #{record}
            .form-group 
                input(
                    type= "text"
                    name= "ids"
                    value=""
                    class ="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Áp dụng