mixin sort()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(disabled selected) ---Hãy chọn cách sắp xếp---
            option(value="position-desc") Vị trí giảm dần 
            option(value="position-asc") Vị trí tăng dần
            option(value="price-desc") Giá giảm dần 
            option(value="price-asc") Giá tăng dần 
            option(value="title-asc") Tiêu đề A - Z
            option(value="title-desc") Tiêu đề Z - A
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear
mixin sortOrder()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(disabled selected) ---Hãy chọn cách sắp xếp---
            option(value="createdAt-desc") Ngày tạo mới nhất 
            option(value="createdAt-asc") Ngày tạo cũ nhất
            option(value="updatedAt-desc") Ngày cập nhật mới nhất 
            option(value="updatedAt-asc") Ngày cập nhật cũ nhất 
            option(value="id-asc") Mã đơn hàng A - Z
            option(value="id-desc") Mã đơn hàng Z - A
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear
mixin sortBlog()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        ) 
            option(disabled selected) ---Hãy chọn cách sắp xếp---
            option(value="createdAt-desc") Ngày tạo mới nhất 
            option(value="createdAt-asc") Ngày tạo cũ nhất
            option(value="updatedAt-desc") Ngày cập nhật mới nhất 
            option(value="updatedAt-asc") Ngày cập nhật cũ nhất 
            option(value="position-asc") Vị trí tăng dần
            option(value="position-desc") Vị trí giảm dần
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear