extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 


block main 
    .container.my-3 
        include ../../partials/list-btn-user.pug 
        .row 
            .col-12
                +box-head(titlePage)

        .row 
            .col-12 
                .chat(chat-id=user.id) 
                    .inner-body
                        each chat in chats
                            if(chat.infoUser.id != user.id)
                                .inner-incoming 
                                    .inner-name #{chat.infoUser.fullName}
                                    .inner-content 
                                        | #{chat.content}
                            else 
                                .inner-outgoing 
                                    .inner-content #{chat.content}
                        div(class= "inner-list-typing")
                            //- div(class="box-typing")
                            //-     div(class="inner-name") Le Van A 
                            //-     div(class="inner-dots")
                            //-         span 
                            //-         span 
                            //-         span 
                            //- div(class="box-typing")
                            //-     div(class="inner-name") Le Van B 
                            //-     div(class="inner-dots")
                            //-         span 
                            //-         span 
                            //-         span
                        
                    .inner-foot
                        form.inner-form(action="")
                            input(
                                type="text" 
                                name="content" 
                                placeholder="Nhập nội dung…"
                            )
                            div(
                                class="custom-file-container" data-upload-id="my-unique-id"
                            )
                            span(class="button-icon btn btn-light mx-2")
                                i.fa-regular.fa-face-smile
                            button(type="submit") 
                                i.fa-solid.fa-paper-plane
    div(class="tooltip" role="tooltip")
        emoji-picker(class="light")