extend ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    if(role.permission.includes("products_create"))
        h1(class="mb-4") Thêm mới sản phẩm 
        +alert-error(3000)
        form(
            action=`${PATH_ADMIN}/product/create` 
            id="form-create-product"
            method="POST"
            enctype="multipart/form-data"
        ) 
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                )
            div(class="form-group")
                label(for="product_category_id") Danh mục
                select(
                    class="form-control"
                    id="product_category_id"
                    name="product_category_id"
                )
                    option(value="") -- Chọn loại danh mục --
                    if(category)
                        +select-tree(category,1 , "")
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control textarea-mce"
                    id="desc"
                    name="description"
                    rows="3"
                )
            //- div(class="form-group")
            //-     label(for="content") Nội dung
            //-     textarea(
            //-         class="form-control textarea-mce"
            //-         id="content"
            //-         name="content"
            //-         rows="5"
            //-     )    
            div(class="form-group")
                label(for="price") Giá
                input(
                    class="form-control"
                    id="price"
                    name="price"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="discountPercentage") % Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discountPercentage"
                    name="discountPercentage"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="stock") Số lượng 
                input(
                    type= "number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )
            div(class="form-group" upload-image)
                label(for="thumbnail" style="display: block;") Ảnh 
                input(
                    type= "file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    upload-image-preview
                    id="preview" 
                    src="" 
                    alt="Ảnh của tôi"
                    style="margin-right: 10px"
                )
                p(
                    close-preview
                ) Close
            div(class="form-group")
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            //- div(class="form-group")
            //-     label(for="deleted") Deleted
            //-     input(
            //-         type="text"
            //-         class="form-control"
            //-         id="deleted"
            //-         name="deleted"
            //-         value="false"
            //-     )
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới
    else 
        h1 Bạn không có quyền truy cập trang này
    script(src="/admin/js/product.js") 
