extend ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    if(role.permission.includes("products_edit"))
        h1(class="mb-4") Chỉnh sửa sản phẩm 
        +alert-error(3000)
        +alert-success(3000)
        form(
            action=`${PATH_ADMIN}/product/edit/${product.id}?_method=PATCH` 
            id="form-edit-product"
            method="POST"
            enctype="multipart/form-data"
        ) 
            div(class="mb-3")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value= product.title
                )
            div(class="mb-3")
                label(for="product_category_id") Danh mục
                select(
                    class="form-control"
                    id="product_category_id"
                    name="product_category_id"
                )
                    option(value="") -- Chọn loại danh mục --
                    if(category)
                        +select-tree(category,1 , product.product_category_id)
            div(class="mb-3") Sản phẩm nổi bật
            div(class="mb-3 form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured1"
                    name="featured"
                    value="1"
                    checked= (product.featured== "1"? true: false)
                )
                label(for="featured1" class="form-check-label") Có
            div(class="mb-3 form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured0"
                    name="featured"
                    value="0"
                    checked= (product.featured== "0"? true: false)
                )
                label(for="featured0" class="form-check-label") Không 
            div(class="mb-3")
                label(for="desc") Mô tả
                textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
                    value=product.description
                ) #{product.description}
            div(class="mb-3")
                label(for="price") Giá
                input(
                    class="form-control"
                    id="price"
                    name="price"
                    value= product.price
                    min="0"
                )
            div(class="mb-3")
                label(for="discountPercentage") % Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discountPercentage"
                    name="discountPercentage"
                    value=product.discountPercentage
                    min="0"
                )
            div(class="mb-3")
                label(for="stock") Số lượng 
                input(
                    type= "number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value=product.stock
                    min="0"
                )
            div(class="mb-3" upload-image)
                label(for="thumbnail" style="display: block;") Ảnh 
                input(
                    type= "file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    upload-image-preview
                    id="preview" 
                    src= product.thumbnail 
                    alt="Ảnh của tôi"
                    style="margin-right: 10px"
                    defaultValue= product.thumbnail
                )
                p(
                    close-preview
                ) Close
            div(class="mb-3")
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                    value=product.position
                )
            div(class="mb-3 form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(product.status== "active"? true: false)
                )
                label(for="statusActive" class="form-check-label") Hoạt động 
            div(class="mb-3 form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                    checked=(product.status== "inactive"? true: false)
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="mb-3")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật
    else 
        h1(class="text-center") Bạn không có quyền truy cập trang này

    script(src="/admin/js/product.js") 
