mixin product-item(item)
    .col-4.mb-3.p-i 
        .product-item 
            .inner-image 
                img(src=item.thumbnail, alt=item.title)
                if(item.featured=="1")
                    .inner-featured Nổi bật
            .inner-content 
                h3.title 
                    a(href=`/products/detail/${item.slug}`) #{item.title}
                .d-flex.text-center.justify-content-center
                    .inner-price-old #{formatVND(item.price)}
                    .inner-discount #{item.discountPercentage}%
                .inner-price-new #{formatVND(item.priceNew)} 
            .btn-buy
                a(href=`/products/detail/${item.slug}`) Mua hàng
            