extends ../../layouts/default.pug 
include ../../mixins/filterStatus.pug
include ../../mixins/formSearch.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug
include ../../mixins/pagination.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/moment.pug
include ../../mixins/sort.pug

block main 
    if(role.permission.includes("blog-category_view"))
        h1 Danh mục bài viết 
        +alert-success(3000)
        +alert-error(3000)
        .card.mb-3 
            .card-header Bộ lọc và Tìm kiếm 
            .card-body 
                .row 
                    .col-6
                        +filterStatus(filter)
                    .col-3
                        +formSearch(keyword)
        .card.mb-3 
            .card-header Danh sách
            .card-body
                .row 
                    .col-8 
                        +formChangeMulti(`${PATH_ADMIN}/blog-category/change-multi?_method=PATCH`, isDelete, "blog_Category", "danh mục bài viết")
                    .col-4
                        if(role.permission.includes("blog-category_create")) 
                            a(
                                href=`${PATH_ADMIN}/blog-category/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới
        .card.mb-3
            .card-header Sắp xếp 
            .card-body
                .row 
                    .col-4
                        +sortBlog()
                table(
                    class=" table table-hover table-sm"
                    checkbox-multi
                )
                    thead 
                        tr 
                            th 
                                input(type="checkbox" name="checkall")
                            th STT 
                            th Hình ảnh 
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái 
                            th Người tạo
                            th Người chỉnh sửa
                            th Hành động
        
                    tbody   
                        +blog-tree(records)    
        +pagination(pagination)
        form(
            action= ""
            method="POST"
            id="form-change-status"
            data-path =`${PATH_ADMIN}/blog-category/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete"
            data-path=`${PATH_ADMIN}/blog-category/delete`
        )
        form(
            action=""
            method="POST"
            id="form-restore"
            data-path=`${PATH_ADMIN}/blog-category/restore`
        )
    else 
        h1 Bạn không có quyền truy cập trang này
    script(src="/admin/js/product.js") 