extend ../../layouts/default.pug
include ../../mixins/orderStatus.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main 
    if(role.permission.includes("orders_view"))
        h1 Danh sách đơn hàng
        +alert-success(3000)
        +alert-error(3000)
        .card.mb-3 
            .card-header Bộ lọc 
            .card-body 
                .row 
                    .col-6
                        +orderStatus(filter)
        .card.mb-3
            .card-header Sắp xếp 
            .card-body
                .row 
                    .col-4
                        +sort()
                table(
                    class=" table table-hover table-sm"
                )
                    thead 
                        tr 
                            th STT 
                            th Tên khách hàng
                            th Số điện thoại
                            th Địa chỉ
                            th Mã đơn hàng
                            th Trạng thái 
                            th Số lượng mặt hàng 
                            th Tổng tiền
                            th Ngày tạo
                            th Hành động
                    tbody 
                        each item, index in orders
                            tr 
                                td #{(pagination.currentPage - 1) * pagination.limitItem+ (index+1)}
                                td #{item.userInfo.fullName}
                                td #{item.userInfo.phone}
                                td #{item.userInfo.address}
                                td #{item.id}
                                td  
                                    if(role.permission.includes("orders_edit"))
                                        if(item.statusOrder==="active")
                                            a(
                                                href="javascript:;" 
                                                data-status= item.statusOrder
                                                data-id= item.id
                                                button-change-status
                                                class="badge text-bg-success"
                                            ) Hoạt động
                                        else if(item.statusOrder==="inactive")
                                            a(
                                                href="javascript:;"
                                                data-status=item.statusOrder
                                                data-id= item.id
                                                button-change-status 
                                                class="badge text-bg-danger"
                                            ) Không hoạt động 
                                        else if(item.statusOrder==="initial")
                                            a(
                                                href="javascript:;"
                                                data-status=item.statusOrder
                                                data-id= item.id
                                                button-change-status 
                                                class="badge text-bg-primary"
                                            ) Chờ duyệt
                                    else 
                                        if(item.statusOrder==="active")
                                            div(
                                                class="badge text-bg-success"
                                            ) Hoạt động
                                        else if(item.statusOrder==="inactive")
                                            div(
                                                class="badge text-bg-danger"
                                            ) Không hoạt động 
                                        else if(item.statusOrder==="initial")
                                            div(
                                                class="badge text-bg-primary"
                                            ) Chờ duyệt 
                                td  #{item.products.length}
                                td  #{item.total} $
                                td
                                    p 
                                        +formatDateTime(item.createdAt)
                                td 
                                    if(find.deleted && role.permission.includes("orders_edit") )
                                        button(
                                            class="btn btn-primary btn-sm ml-1"
                                            button-restore
                                            data_id= item.id    
                                        ) Khôi phục 
                                
                                    else
                                        if(role.permission.includes("orders_delete"))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                button-delete
                                                data_id= item.id    
                                            ) Xóa    
                                    a(
                                        href=`${PATH_ADMIN}/orders/detail/${item.id}`
                                        class="btn btn-secondary btn-sm"
                                    ) Chi tiết
                                    
        +pagination(pagination)
        form(
            action= ""
            method="POST"
            id="form-change-status"
            data-path =`${PATH_ADMIN}/orders/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete"
            data-path=`${PATH_ADMIN}/orders/delete`
        )
        form(
            action=""
            method="POST"
            id="form-restore"
            data-path=`${PATH_ADMIN}/orders/restore`
        )
    else 
        h1 Bạn không có quyền truy cập trang này
    script(src="/admin/js/order.js") 