extends ../../layouts/default.pug 
block main 
    .user-detail-page
        h1(class="mb-4 text-center text-primary fw-bold") Thông tin tài khoản

        .user-card
            if(user.avatar)
                img(src=user.avatar, alt="Avatar", class="user-avatar mb-3")
            else 
                img(src="/admin/images/avatar.png", alt="Avatar", class="user-avatar mb-3")

            .user-info
                if(user.fullName)
                    p Họ tên: 
                        b #{user.fullName}
                
                if(user.email)
                    p Email: 
                        b #{user.email}

                if(user.phone)
                    p Số điện thoại: 
                        b #{user.phone}

                p 
                    span Trạng thái: 
                    span <b>#{user.status==="active" ? "Hoạt động" : "Dừng hoạt động"}</b>

                if(role.title)
                    p Phân quyền: 
                        b #{role.title}

            a(
                href=`${PATH_ADMIN}/my-account/edit`
                class="btn btn-primary mt-3 w-100"
            ) Chỉnh sửa thông tin
