.sider 
    .inner-menu 
        ul 
            li  
                a(href=`${PATH_ADMIN}/dashboard`) Tổng quan 
            if(role.permission.includes("products-category_view"))
                li 
                    a(href=`${PATH_ADMIN}/product-category`) Danh mục sản phẩm  
            if(role.permission.includes("products_view"))
                li 
                    a(href=`${PATH_ADMIN}/product`) Danh sách sản phẩm
            if(1)
                li 
                    a(href=`${PATH_ADMIN}/blog-category`) Danh mục bài viết
            if(role.permission.includes("roles_view"))  
                li 
                    a(href=`${PATH_ADMIN}/roles`) Nhóm quyền
            if(role.permission.includes("permission_view"))
                li 
                    a(href=`${PATH_ADMIN}/roles/permissions`) Phân quyền
            if(role.permission.includes("accounts_view"))
                li 
                    a(href=`${PATH_ADMIN}/accounts`) Danh sách tài khoản
            if(1)
                li 
                    a(href=`${PATH_ADMIN}/orders`) Danh sách đơn hàng
            if(1)
                li 
                    a(href=`${PATH_ADMIN}/settings/general`) Cài đặt chung
